@font-face {
  font-family: "Pirata One";
  src: url("../assets/fonts/pirata/PirataOne-Regular.ttf");
}

@font-face {
  font-family: "Rye";
  src: url("../assets/fonts/rye/Rye-Regular.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --h1-font-size: 6rem;
  --h2-font-size: 4rem;
  --h3-font-size: 1.5rem;
  --span-font-size: 3.5rem;
  --input-size: 25rem;
  --p-size: 2.5rem;
  --h1-color: #ffffff;
  --span-color: #ffffff;
  --button-color: #ffffff;
  --card-width: 310px;
  --card-height: 448px;
  --img-width: 30rem;
  --BottomOffset: -5px;
  --LineHeight: 5px;
  --LineColor: #0f5094;
  /* --card-width: 370px;
    --card-height: 518px; */
}

@media screen and (max-width: 768px) {
  :root {
    --h1-font-size: 5rem;
    --h2-font-size: 3rem;
    --h3-font-size: 1.25rem;
    --span-font-size: 1.5rem;
    --input-size: 18.75rem;
    --p-size: 2rem;
    --img-width: 20rem;
  }
}

@media screen and (max-width: 280px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1rem;
    --span-font-size: 1.75rem;
    --input-size: 10.8rem;
    --p-size: 1.5rem;
    --img-width: 10rem;
  }
}

.container-form{
  width: 100%;
}

label {
  font-size: 1.5rem;
  color: #000000;
  margin-top: 1rem;
  font-family: "Pirata One", system-ui;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

legend {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
  font-family: "Pirata One", system-ui;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

legend img {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
}

fieldset {
  border-radius: 0.5rem;
  border: none;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

input {
  width: var(--input-size);
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid #000000;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
}

textarea {
  width: var(--input-size);
  border-radius: 0.5rem;
  border: 0.5px solid #000000;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
}

input[type="submit"] {
  width: 70%;
  background-color: rgb(13, 84, 106);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

input[type="submit"]:hover {
  background-color: rgb(25, 163, 205, 0.8);
}

.volver-btn {
  width: 70%;
  background-color: rgb(106, 13, 13);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

.volver-btn:hover {
  background-color: rgb(205, 25, 25, 0.8);
}
