@font-face {
  font-family: "Pirata One";
  src: url("../assets/fonts/pirata/PirataOne-Regular.ttf");
}

@font-face {
  font-family: "Rye";
  src: url("../assets/fonts/rye/Rye-Regular.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --h1-font-size: 6rem;
  --h1-logo-font-size: 2.5rem;
  --h2-font-size: 4rem;
  --h3-font-size: 1.5rem;
  --span-font-size: 3.5rem;
  --input-size: 20.75rem;
  --p-size: 2.5rem;
  --h1-color: #ffffff;
  --span-color: #ffffff;
  --button-color: #ffffff;
  --card-width: 310px;
  --card-height: 448px;
  --img-width: 30rem;
  --BottomOffset: -5px;
  --LineHeight: 5px;
  --LineColor: #0f5094;
  --video-min-width: 350px;
  --author-p-size: 1.5rem;
  --error-font-size: 1rem;
}

@media screen and (max-width: 1440px) {
  :root {
    --h2-font-size: 3rem;
    --p-size: 2rem;
  }

  .content {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  :root {
    --h2-font-size: 3.5rem;
    --p-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --h1-font-size: 5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.25rem;
    --span-font-size: 1.5rem;
    --input-size: 18.75rem;
    --p-size: 1.25rem;
    --img-width: 20rem;
    --author-p-size: 1rem;
  }
  .content {
    width: 100%;
  }

  .video-container {
    width: 100%;
  }
}

@media screen and (max-width: 400px){
  :root{
    --h1-logo-font-size: 1.5rem;
  }


}

@media screen and (max-width: 280px) {
  :root {
    --h1-font-size: 2.5rem;
    --h1-logo-font-size: 1rem;
    --h2-font-size: 1.6rem;
    --h3-font-size: 1rem;
    --span-font-size: 1.75rem;
    --input-size: 10.8rem;
    --p-size: 1rem;
    --img-width: 10rem;
    --video-min-width: 250px;
    --author-p-size: .7rem;
    --error-font-size: .6rem;
  }
  .content {
    width: 100%;
  }

  .header-logo img{
    width: 3rem;
    height: 3rem;
  }
}

.container {
  width: 100%;
}

/*------------------------------------ Header Y Boton Hamburguesa ------------------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ececec;
}

.personajes-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Rye", serif;
}

.header-logo h1{
  font-size: var(--h1-logo-font-size);
}

.logo {
  max-width: 5rem;
  max-height: 5rem;
  transition: allí 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.nav-list li a {
  position: relative;
  text-decoration: none;
  color: #1c1c1c;
  font-size: 2rem;
  font-family: "Pirata One", system-ui;
  z-index: 1;
}

.nav-list li a::before {
  position: absolute;
  content: "";
  display: block;
  z-index: -1;
  background: var(--LineColor);
  opacity: 0;
  height: var(--LineHeight);
  bottom: calc(var(--BottomOffset) + 12px);
  width: calc(100% + (var(--LineHeight) / 2));
  right: calc(var(--LineHeight) / -4);
  transition: 0.4s cubic-bezier(0, 0.54, 0.52, 0.76);
  border-radius: 2px;
}

.nav-list li a:hover {
  /*Cambiar el color a amarillo con una transicion de medio segundo*/
  color: #a90000;
  transition: 0.5s;
}

.nav-list li a:hover:before {
  bottom: var(--BottomOffset);
  opacity: 1;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 750px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    cursor: pointer;
    border: none;
    font-size: 2.5rem;
    background-color: transparent;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .abrir-menu:hover {
    transform: scale(1.2);
  }

  .cerrar-menu {
    color: #ececec;
  }

  .cerrar-menu:hover {
    transform: scale(1.2);
  }

  .nav {
    opacity: 0;
    visibility: hidden;
  }

  .nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    text-decoration: none;
    color: #ececec;
    font-family: "Pirata One", system-ui;
  }
}

/*------------------------------------ Hero-image ------------------------------------*/
.hero-container {
  background: url(../assets/imgs/wallpaper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  position: relative;
}

.hero-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
}

.hero-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero-body span {
  font-size: var(--span-font-size);
  color: var(--span-color);
  font-family: "Pirata One", system-ui;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;
}

.hero-container img {
  padding: 10px;
  /* background-color: rgb(255, 255, 255, 0.8); */
  width: var(--img-width);
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.hero-container img:hover {
  transform: scale(1.1);
}

/*Content*/

.content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 3rem 3rem 3rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* padding: 3rem 3rem 3rem 3rem; */
  background-color: #ffffff;
}

.content h2 {
  font-size: var(--h2-font-size);
  color: #000000;
  font-family: "Pirata One", system-ui;
  text-align: center;
}

.content p {
  font-size: var(--p-size);
  color: #000000;
  font-family: "Pirata One", system-ui;
  text-align: center;
}

.video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 3rem 3rem 3rem;
  background-color: #ffffff;
}

/*Media query que haga que se ponga en columna si la resolucion baja de 1000 px*/
@media screen and (max-width: 1400px) {
  .content-container {
    flex-direction: column;
  }
}

video {
  width: 100%;
  height: 100%;
  min-width: var(--video-min-width);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
}

/*------------------------------------ Footer ------------------------------------*/
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

footer li {
  list-style: none;
}

.footer-container {
  width: 100%;
  margin: 20px 0 0 0;
  /*Color pizarra*/
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Pirata One", system-ui;
}

.footer-body {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-sections {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 2rem 0.5rem 2rem;
  gap: 2rem;
}

footer a {
  text-decoration: none;
  color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-sections h3 {
  font-size: var(--h3-font-size);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-sections p {
  color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-author img {
  width: 25px;
  height: 25px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  margin: 0.5rem;
}

.social img {
  width: 40px;
  height: 40px;
  padding: 0.3rem;
  background-color: #ffffff;
  border-radius: 30%;
}

.social img:hover {
  transform: scale(1.1);
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author p {
  font-size: var(--author-p-size);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 280px) {
  .footer-sections {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
  }

  .footer-servicios h3{
    font-size: 1rem;
  }
  .footer-servicios p{
    font-size: 0.75rem;
  }
}

/*------------------------------------ Errores ------------------------------------*/
.error {
  color: red;
  font-size: var(--error-font-size);
  font-family: "Pirata One", system-ui;
  padding: .5rem;
}
