@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Pirata+One&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --h1-font-size: 6rem;
    --span-font-size: 3.5rem;
    --input-size: 20.75rem;
    --h1-color: #ffffff;
    --span-color: #ffffff;
    --button-color: #ffffff;
    
}

@media screen and (max-width: 280px){
    :root{
        --h1-font-size: 2.5rem;
        --span-font-size: 1.75rem;
        --input-size: 10.8rem;
    }
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ececec;
}

.logo{
    max-width: 5rem;
    max-height: 5rem;

}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.5rem;
    font-family: 'Pirata One', system-ui;
}

.abrir-menu, .cerrar-menu{
    display: none;

}

@media screen and (max-width:650px){
    .abrir-menu, .cerrar-menu{
        display: block;
        cursor: pointer;
        border: none;
        font-size: 2.5rem;
        background-color: transparent;
    }

    .abrir-menu{
        color: #1c1c1c;
    }

    .abrir-menu:hover{
        /*Hacemos que sea mas grande cuando se ponga el cursor encima y con una animacion de 2seg*/
        transform: scale(1.2);
        
    }

    .cerrar-menu{
        color: #ececec;
    }

    .cerrar-menu:hover{
        /*Hacemos que sea mas grande cuando se ponga el cursor encima y con una animacion de 2seg*/
        transform: scale(1.2);
        
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    
    }

    .nav{
        width: 12rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a{
        text-decoration: none;
        color: #ececec;
        font-family: 'Pirata One', system-ui;
    }
}



.hero-container{
    background: url(../assets/imgs/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    position: relative;
    
}

.hero-container::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.55;
}

.hero-body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-container img{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.8);
    width: 20%;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.hero-container img:hover{
    transform: scale(1.1);
}

label{
    font-size: 1.5rem;
    color: #000000;
    margin-top: 1rem;
    font-family: 'Pirata One', system-ui;
    
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

legend{
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1rem;
    font-family: 'Pirata One', system-ui;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

legend img{
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #FFFAFA;
    /*Le añadimos una sombra*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

fieldset{
    border-radius: 0.5rem;
    /* border: 0.2px solid #000000; */
    border: none;
    
}



.formulario{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;  
}

input{
    width: var(--input-size);
    height: 3.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid #000000;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
}

textarea{
    width: var(--input-size);
    border-radius: 0.5rem;
    border: 0.5px solid #000000;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
}

input[type="submit"]{
    width: 70%;
    background-color: rgb(13, 84, 106);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: .5rem;
}

input[type="submit"]:hover{
    background-color: rgb(25, 163, 205, 0.8);
}

.volver-btn{
    width: 70%;
    background-color: rgb(106, 13, 13);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: .5rem;

}

.volver-btn:hover{
    background-color: rgb(205, 25, 25, 0.8);
}


/*Cards*/

.card-container {
    display: grid;
    /*Hacemos que haya una disposicion de una fila y 3 columnas que esten a la misma altura y tengan el mismo alto*/
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;    
    align-items: center;
    gap: 5rem;
    padding: 20px 0;
    margin: 2rem auto;
    width: 80%;

}

.card {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.card-body .card-title {
    font-size: 1.5em;
    font-weight: 600;
}
.card-body .card-text {
    font-size: 16px;
    font-weight: 300;
}

.card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}




footer{
    font-size: larger;
}

.footer-container{
    margin: 20px 0 0 0;
    background-color: #000000;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Pirata One', system-ui;
}

.footer-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-body__logo{
    width: 10%;

}

.footer-body__logo img{
    width: 100%;
}

.footer-body__social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.error{
    color: red;
    font-size: 1rem;
    font-family: 'Pirata One', system-ui;
}

.container{
    width: 100%; 
}