<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <div class="container-form">
        <header>
            <img class="logo" src="../assets/imgs/piece.png" alt="logo">
            <button id="abrir-menu" class="abrir-menu">&#9776;</button>
            <nav id="nav" class="nav">
              <button id="cerrar-menu" class="cerrar-menu">✕</button>
              <ul class="nav-list">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="#">Manga</a></li>
                <li><a href="#">Anime</a></li>
              </ul>
            </nav>
          </header>
        <form class="form" id="form" action="../index.html" method="get">
            <div class="wrapper">
                <fieldset class="formulario">
                    <legend><a href="../index.html"><img src="../assets/imgs/piece.png" alt=""></a>¿Quieres convertirte en Shichibukai?<a href="../index.html"><img src="../assets/imgs/piece.png" alt=""></a></legend>
                    <label for="nombre">Di tu nombre, Nakama</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Introduce tu nombre..."/>
                    <label for="apellidos">El Gobierno Mundial quiere saber tus apellidos</label>
                    <input type="text" name="apellidos" id="apellidos" placeholder="Introduce tus apellidos..."/>
                    <label for="telefono">Ten a mano tu Den Den Mushi</label>
                    <input type="text" name="telefono" id="telefono" placeholder="Introduce tu telefono..."/>
                    <label for="email">El Dr. Vegapunk quiere enviarte un correo electronico</label>
                    <input type="text" name="email" id="email" placeholder="Introduce correo electronico..."/>
                    <label for="mensaje">¿Cual es tu sueño, pirata?</label>
                    <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Yo voy a ser el Rey de los Piratas..."></textarea>
                    <input type="submit" value="Enviar" id="enviar"/>
                    <input type="button" value="Volver a Inicio" class="volver-btn">
                </fieldset>
            </div>
            
        </form>
    </div>
    

    <script src="../js/formulario.js"></script>
    <script src="../js/hamburguer.js"></script>
</body>
</html>