<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <form id="form" action="envioCorrecto.html">
        <fieldset class="formulario">
            <legend><img src="../assets/imgs/piece.png" alt="">¿Quieres convertirte en Shichibukai? <img src="../assets/imgs/piece.png" alt=""></legend>
            <label for="nombre">Introduce tu nombre, Nakama</label>
            <input type="text" name="nombre" id="nombre" placeholder="Introduce tu nombre..."/>
            <label for="apellidos">El Gobierno Mundial quiere saber tus apellidos</label>
            <input type="text" name="apellidos" id="apellidos" placeholder="Introduce tus apellidos..."/>
            <label for="email">El Dr. Vegapunk quiere enviarte un correo electronico</label>
            <input type="email" name="email" id="email" placeholder="Introduce correo electronico..."/>
            <label for="mensaje">¿Cual es tu sueño, pirata?</label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Yo voy a ser el Rey de los Piratas..."></textarea>
            <input type="submit" value="Enviar" id="enviar"/>
        </fieldset>
        <ul class="errores" id="errores"></ul>
    </form>
</body>
</html>