<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Personajes</title>
</head>
<body>
    <div class="container-personajes">

        <header class="personajes-header">
            <div class="header-logo">
                <img class="logo" src="../assets/imgs/piece.png" alt="logo">
                <h1>Personajes</h1>
            </div>
            
            <button id="abrir-menu" class="abrir-menu">&#9776;</button>
            <nav id="nav" class="nav">
              <button id="cerrar-menu" class="cerrar-menu">✕</button>
              <ul class="nav-list">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="https://inmanga.com/ver/manga/One-Piece/dfc7ecb5-e9b3-4aa5-a61b-a498993cd935">Manga</a></li>
                <li><a href="https://www3.animeflv.net/anime/one-piece-tv">Anime</a></li>
                <li><a href="formulario.html">Contacto</a></li>
              </ul>
            </nav>
          </header>

        <div class="boxesContainer">
  
            <div class="cardBox">
              <div class="card luffy">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../assets/imgs/logos/luffy.png" alt="">
                  <p>Monkey D. Luffy Es el capitán de los Piratas de Sombrero de Paja. Su sueño es convertirse en el Rey de los Piratas y encontrar el legendario tesoro conocido como el One Piece.</p>
                  <!-- hacer una especie de footer para la tarjeta, añadir una linea horizontal -->
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Monkey_D._Luffy?so=search">Mas Info</a></div>
                </div>
              </div>
            </div>
          
            <div class="cardBox">
              <div class="card zoro">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../assets/imgs/logos/zoro.png" alt="">
                  <p>Roronoa Zoro es uno de sus dos espadachines y uno de los oficiales principales de la Gran Flota de Sombrero de Paja, así como un antiguo cazarrecompensas.</p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Roronoa_Zoro?so=search">Mas Info</a></div>
                </div>
              </div>
            </div>
          
            <div class="cardBox">
              <div class="card nami">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../assets/imgs/logos/nami.png" alt="">
                  <p>Nami es la navegante de los Piratas del Sombrero de Paja. Es el tercer miembro de la tripulación y la segunda en unirse, haciéndolo oficialmente durante el arco de Arlong Park.</p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Nami?so=search">Mas Info</a></div>
                </div>
              </div>
            </div>
      
            <div class="cardBox">
              <div class="card sanji">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../assets/imgs/logos/sanji.png" alt="">
                  <p>Sanji es el cocinero de los Piratas de Sombrero de Paja, es el quinto miembro de la tripulación, y el cuarto en unirse.</p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Sanji?so=search">Mas Info</a></div>
                </div>
              </div>
            </div>

            <div class="cardBox">
                <div class="card brook">
                  <div class="front">
                  </div>
                  <div class="back">
                      <img class="personaje-logo" src="../assets/imgs/logos/brook.png" alt="">
                    <p>Brook es el músico de los Piratas de Sombrero de Paja. Es el noveno miembro de la tripulación y el octavo en unirse.</p>
                    <hr>
                    <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Brook?so=search">Mas Info</a></div>
                  </div>
                </div>
              </div>
            
            <div class="cardBox">
              <div class="card usopp">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../assets/imgs/logos/usopp.png" alt="">
                  <p>Usopp es el francotirador de los Piratas de Sombrero de Paja. Es el cuarto miembro de la tripulación y el tercero en unirse oficialmente. </p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Usopp?so=search">Mas Info</a></div>
                </div>
              </div>
            </div>
      
            <div class="cardBox">
              <div class="card chopper">
                <div class="front">
                </div>
                <div class="back">
                    <img class="personaje-logo" src="../assets/imgs/logos/chopper.png" alt="">
                  <p>Tony Tony Chopper es el médico de los Piratas de Sombrero de Paja. Es un reno que comió la fruta Hito Hito de la isla de Drum. Él es el sexto miembro de la tripulación y el quinto en unirse a ella.</p>
                  <hr>
                  <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Tony_Tony_Chopper?so=search">Mas Info</a></div>
                </div>
              </div>
            </div>

            <div class="cardBox">
                <div class="card robin">
                  <div class="front">
                  </div>
                  <div class="back">
                      <img class="personaje-logo" src="../assets/imgs/logos/robin.png" alt="">
                    <p>Nico Robin es la arqueóloga de los Piratas de Sombrero de Paja. Es el séptimo miembro de la tripulación y el sexto en unirse.</p>
                    <hr>
                    <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Nico_Robin?so=search">Mas Info</a></div>
                  </div>
                </div>
              </div>

              <div class="cardBox">
                <div class="card franky">
                  <div class="front">
                  </div>
                  <div class="back">
                      <img class="personaje-logo" src="../assets/imgs/logos/franky.png" alt="">
                    <p>Franky es el carpintero naval de los Piratas de Sombrero de Paja. Es el octavo miembro de la tripulación y el séptimo en unirse.</p>
                    <hr>
                    <div class="info-btn"><a href="https://onepiece.fandom.com/es/wiki/Franky?so=search">Mas Info</a></div>
                  </div>
                </div>
              </div>

              
          </div>
    </div>
    <script src="../js/hamburguer.js"></script>
</body>
</html>